---
layout: default
---

<style>
    a{
        text-decoration: none;
    }.project-card:hover{
        transform: scale(1.1);
    }.project-card{
        transition: transform 1s;
    }body{
        height: 100%;
        margin: 0;
        padding:0;
        margin-top: 0;
    }
</style>
<html>
<h1>Projects</h1>


<h1>
Widgets
</h1>
<h4>Widgets are small "projects" that are often just assorted coded knicknacks.</h4>
{% for item in site.data.projects %}
        <div class = "project-card">
          <a id="{{item.title}}" class="project-link {% if page.url == item.link%} active{% endif %}" href="{{item.link}}">
          <img height = "200vh" width = "auto" src="/assets/images/{{item.image}}"/>
          <br>
          <p>{{item.title}}</p>
          <p><i>{{item.description}}</i></p>
        </a></div>
{% endfor %}

</html>